In [3]:
#Verify if a value is an integer
a=2

In [4]:
type(a)

int

In [5]:
#Verify if a value is even
a=3

In [6]:
a % 2 == 0

False

In [1]:
#Insert two numbers. Is the first is bigger than the second?

In [2]:
num1 = input("primeiro número")

primeiro número12

In [3]:
type(num1)

str

In [4]:
num1=int(num1)

In [5]:
num2 = int(input("segundo número"))

segundo número3

In [6]:
num1>num2

True

In [1]:
#Verify if one value is multiple of another

In [2]:
valor1=int(input("primeiro valor"))

primeiro valor30

In [3]:
valor2 = int(input("segundo valor"))

segundo valor4

In [4]:
valor1 % valor2 == 0 or valor2 % valor1 == 0

False

In [8]:
#Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with an interest rate of 3%.
#(I= P*R*T)

In [6]:
p=200
r=0.03
t=3

In [7]:
interest=p*r*t

In [8]:
interest

18.0

In [9]:
#Capital that an investor obtained after investing an amount of capital of 200 during three years with an interest rate of 3%

In [10]:
capital=p*(1+r)**t

In [11]:
capital

218.5454

In [23]:
#Calculate your BMI (Body Mass Index)
#BMI = mass(kg)/height^2(m)

In [12]:
mass=67
height=1.61
BMI=mass/(height**2)

In [13]:
BMI

25.847768218818715

In [27]:
#Calculate the Golden ration:

In [28]:
#1. Solve the problem without using libraries

In [31]:
gr=(1+(5**(1/2)))/2

In [32]:
gr

1.618033988749895

In [45]:
#2. Use module math (import math) and function sqr #(math.sqrt)

In [46]:
import math

In [47]:
gr = (1 + math.sqrt(5))/2

In [48]:
gr

1.618033988749895

In [50]:
#Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following
#Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.
#Where:
#FV = Future cost of the cash inflows, I = Initial Investment k = Discount rate equal to the owner’s cost of capital

In [3]:
FV1=2000
FV2=3000
FV3=4000
FV4=4000
FV5=5000
I=10000
k=0.1

In [4]:
NPV = ((FV1/(1+k)**1)+(FV2/(1+k)**2)+(FV3/(1+k)**3)+(FV4/(1+k)**4)+(FV5/(1+k)**5))-I

In [5]:
NPV

3139.440301519393

In [56]:
#Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'

In [57]:
#1. Solve the problem without using modules and libraries

In [58]:
name = input("Qual é o seu nome?")

Qual é o seu nome?Maria

In [61]:
age = int(input("Qual é a sua idade?"))

Qual é a sua idade?21

In [65]:
birthyear = 2020 - age

In [66]:
birthyear

1999

In [69]:
print(name + " was born in " + str(birthyear) + ".")

Maria was born in 1999.

In [70]:
#2. Solve the problem using the date library from module datetime

In [71]:
from datetime import date
today = date.today()
today.year

2020

In [74]:
byear = today.year - age

In [75]:
byear

1999

In [76]:
print(name + " was born in " + str(byear) + ".")

Maria was born in 1999.

In [77]:
#Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.

In [5]:
forenames = input("Forenames: ")

Forenames: Maria Inês

In [7]:
surnames = input("Surnames: ")

Surnames: da Silva Gonçalves

In [8]:
nomecompleto = (forenames + " " + surnames)

In [9]:
nomecompleto

'Maria Inês da Silva Gonçalves'

In [10]:
nameBig = nomecompleto.upper()

In [11]:
nameBig

'MARIA INÊS DA SILVA GONÇALVES'

In [14]:
nameTitle = nomecompleto.title()

In [15]:
nameTitle

'Maria Inês Da Silva Gonçalves'

In [16]:
nameSmall = nomecompleto.lower()

In [17]:
nameSmall

'maria inês da silva gonçalves'

In [20]:
nameCapitalize = nomecompleto.capitalize()

In [21]:
nameCapitalize

'Maria inês da silva gonçalves'

In [22]:
#Use the following method to show in which character appears the first "da"

In [25]:
str(nomecompleto.find("da"))

'11'

In [26]:
#What happens if the content of sub is not found in str?

In [27]:
nomecompleto.find("da")

11

In [28]:
#dá erro?